body {
  color: white;
  background-color: #ffffff;
}

container {
  color: white;
  background-color: #4d4d4d;
  position: relative;
}
.row {
  color: white;
  background-color: #4d4d4d;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url("images/IpswitchRockPhoto.jpeg");
  color: #ffffff;
  height: 800px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
  background-repeat: no-repeat;
background-position: center center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

nav {
  color: white;
  display: inline-block;
  background-color: #4d4d4d;
}
nav a {
  color: white;
  text-decoration: none;
}
