body {
  color: white;
  text-shadow: 0.25px 0.25px 0.25px #ffffff;
  background-color: #ffffff;
}

container {
  color: white;
  text-shadow: 0.25px 0.25px 0.25px #ffffff;
  background-color: #4d4d4d;
  position: relative;
}

.HeadAndBodyText {
  text-shadow: 0.25px 0.25px 0.25px #000000;
  position relative;
  font-style: normal;
  font-family: trebuchet;
}

.row {
  color: white;
  background-color: #4d4d4d;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url("../images/IpswitchRockPhoto.jpeg");
  color: #ffffff;
  height: 800px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
  background-repeat: no-repeat;
background-position: center center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-color: #ffffff;
}

.Image2 {
  background-image: url("../images/OceanPhoto.jpeg");
  display: flex;
  color: #ffffff;
  height: 800px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
  background-repeat: no-repeat;
background-position: center center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-color: #ffffff;
}
.leftBar {
  display: flex;
  color: #ffffff;
  height: 700px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
  background-repeat: no-repeat;
background-position: center center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

button {
  position: relative;
  left: -64%;
  bottom: -10%;
  margin: 5px;
  background-color: #4a5f68;
  color: black;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  border: 5px solid #2f3c42;

}

button:hover {
  background-color: #2f3c42;
  color: white;
}

ul {
  list-style-type: none;
}

nav {
  color: white;
  text-shadow: 0.25px 0.25px 0.25px #000000;
  display: inline-block;
  background-color: #4d4d4d;
}
nav a {
  color: white;
  text-shadow: 0.25px 0.25px 0.25px #000000;
  text-decoration: none;
}
