@import url('https://fonts.googleapis.com/css?family=Abel|Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*General style(fonts and sizes)*/
body {
    font-family: 'Open Sans', sans-serif;
}
ul {
    list-style-type: none;
}
/*Header*/
header > h1 {
    font-family: Asap, sans-serif;
    display: inline;
    font-size: 2.4em;
    position: relative;
    color: white;
}
nav {
    top: 0;
    right: 0;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    width: 100%;
    border-bottom-right-radius: 40px;
    background-color: #17334E;
    font-family: 'Abel', sans-serif;
    padding: 20px;
    height: 110px;
    font-size: 1.3em;
    transition: all 0.3s ease-in 0.3s;
}
.nav-links {
    display: flex;
    justify-content: space-around;
    width: 45%;
}
.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}
.nav-links a:hover {
    text-decoration: underline;
    color: #ccdce0;
}
.small {
    width: 30%;
}
.item-title a:hover {
    color: grey;
}
/*ParallaxEffect*/

.effect {
    background: url('../Images/Photography/FrontPicture.jpeg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 1500px;
    transition: all 0.4s ease-in 0.2s;
}
.space {
    height: 92vh;
}
/*Containers*/
.container {
    text-align: center;
    background-color: white;
    margin: 0;
    padding: 10px 0;
}
.color {
    background-color: #4684C3;
    color: white;
    /*font-family: 'Abel', sans-serif;*/
    font-family: Asap, sans-serif;
    font-size: 1.2em;
}
.container .images .image{
    display: inline-block;
    height: 240px;
    padding: 10px;
}
.images > a {
    text-decoration: none;
    color: white;
    display:  inline-block;
    margin: 10px;
}
p {
    margin-bottom: 25px;
}
#img1 {
    background: url("../Images/UI_elements/ResumeLogo.png") no-repeat;
    width: 184px;
    margin-bottom: 9px;
}
#img2 {
    background: url("../Images/UI_elements/MonitorLogo.png") no-repeat;
    width: 266px;
}
#img3 {
    background: url("../Images/UI_elements/PhoneLogo.png") no-repeat;
    width: 134px;
    margin-bottom: 9px;
}
.images > a:hover {
    transform: scale(1.1);
    transition: all 0.15s ease-out;
}
.container img {
    margin: auto;
}
.hold {
    font-size: 1.4em;
    width: 50%;
    margin: 0 auto 20px;
}
.project-container {
    max-width: 30%;
    min-width: 375px;
    margin: 10px auto;
}
/*Section Color: #56beff*/

/*at width 776px, we need to change the nav bar into a button*/

/*Videos and stuff*/
video {
    width: 100%;
    padding: 0;
    margin: 0;
}
figure {
    margin: 10px;
    padding: 10px;;
}
.item-title {
    font-size: 1.4em;
}
.item-title a {
    text-decoration: none;
    color: black;
}
/*show none*/
.burger {
    display: none;
}
.burger div {
    width: 35px;
    height: 3px;
    background-color: rgb(226,226,226);
    margin: 5px;
    transition: all 0.3s ease;
}
.change-nav {
    background: rgba(23, 29, 36, 0.623);
    border-bottom-right-radius: 0;
    transition: all 0.3s ease-in 0.3s;
    height: 75px;
    font-size: 1.1em;
}

/*Media Queries*/
@media (min-width: 1024) {
    .nav-links {
        width: 30%;
    }
}
@media (max-width: 800px) {
    body {
        overflow-x: hidden;
    }
    nav {
        border-radius: 0;
        position: fixed;
        background: rgba(23, 51, 78, 0.90);
        transition:  0.5s ease-in;
        font-size: 1.1
    }
    header > h1 {
        font-family: Asap, sans-serif;
        display: inline;
        font-size: 2em;
        position: relative;
        color: white;
    }
    .burger {
        display: block;
        cursor: pointer;
    }
    .nav-links {
        position: fixed;
        right: 0px;
        height: 100%;
        top: 10vh;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: rgba(23, 51, 78, 0.90);
        transform: translateX(100%);
        transition: 0.5s ease-in;
    }
    .change-nav > .nav-links {
        top: 8vh;
    }
    .nav-links li {
        opacity: 1;
        width: 100%;
        height: 24px;
        text-align: center;
        padding: 0;
    }
    .nav-links li:hover {
        font-size: 1em;
    }
    .nav-links li a {
        font-size: 1.7em;
        display: block;
        padding: 1em;
    }
    .fill {
    background: rgba(23, 51, 78, 1);
    }
    .change-nav {
        background: rgba(23, 51, 78, .8);
        border-bottom-right-radius: 0;
        transition: all 0.3s ease-in 0.3s;
        height: 75px;
        font-size: 1.1em;
    }
}
@media (max-width: 445px) {
    header {
        font-size: 0.8em;
    }
    .change-nav > .nav-links {
        top: 8vh;
    }
    .nav-links {
        top: 13vh;
    }
}
@media (max-width: 375px) {
    h1 {
        font-size: 20px;
    }
    .change-nav > .nav-links {
        top: 9.2vh;
    }
    .nav-links {
        top: 13.5vh;
    }
}
@media (max-width: 320px) {
    .nav-links {
        top: 14vh;
    }
    .project-container {
        width: 320px;
    }
    .container {
        width: 320px;
    }
}
.nav-active {
    transform: translateX(0%);
}
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}




