body {
  color: white;
  background-color: #ffffff;
}

container {
  color: white;
  background-color: #4d4d4d;
  position: relative;
}
.row {
  color: white;
  background-color: #4d4d4d;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url("images/IpswitchRockPhoto.jpeg");
  background-size: cover;
  color: #ffffff;
  height: 1000px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

nav {
  color: white;
  display: inline-block;
  background-color: #4d4d4d;
}
nav a {
  color: white;
  text-decoration: none;
}
